---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Team from "../components/Team.astro";
---

<Layout title="Fathomage Software - About Us">
  <main class="space-y-20">
    <Container>
      <div
        class="relative flex flex-col-reverse items-center md:flex-row"
        id="hero"
      >
        <div class="row items-center py-5 md:pb-20 md:pt-10">
          <div class="text-center space-y-10">
            <h2 class="text-5xl font-medium leading-none md:text-6xl">
              This Page is TODO
            </h2>

            <p class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12">
              Fathomage Software - Nearshore software pros to efficiently scale
              your development team at low cost We are a close-knit team of
              senior software professionals ready to give you extra capacity for
              your enterprise software development project.
            </p>

            <p class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12">
              Boutique, small focused team, tightly-knit, chemistry describe
              specific comptencies (Spring Boot, OAuth, React, Angular) years of
              experience industries.
            </p>

            <p class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12">
            Our developers are located in Argentina, where a high level of professionalism and experience is available at a very reasonable cost relative to the North American market. Argentina's timezone is very close to Eastern Standard Time, making collaboration and communication with U.S. teams much easier than with India. English proficiency, cultural affinity.
            </p>
          </div>
        </div>
      </div>
    </Container>
    <Team />
  </main>
</Layout>
