---
import Container from "./Container.astro";
---

<Container>
  <div
    class="relative flex flex-col-reverse items-center md:flex-row"
    id="hero"
  >
    <div class="row items-center py-5 md:w-6/12 md:pb- md:pt-10">
      <div class="text-left space-y-3">
        <h1 class="text-5xl font-medium leading-none md:text-6xl">
          Enterprise software,<br /> built to last
        </h1>
        <p class="mt-6 mb-8 text-2xl font-normal leading-7 sm:mb-12">
          We design and build enterprise systems that are robust, scalable, and secure.
          <br/><br/>
          Whether you're looking to design a new product, integrate existing systems, refactor your codebase, or simply grow your team, we can help.
        </p>
        <!--<a-->
        <!--  class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex"-->
        <!--  rel="noopener noreferrer"-->
        <!--  href="https://github.com/fathomage"-->
        <!--  target="_blank"-->
        <!--&gt;-->
        <!--  <h2 class="text-center text-xl font-normal leading-7">-->
        <!--    Book a consultation-->
        <!--  </h2>-->
        <!--</a>-->
      </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
      <img src="/placeholder_logo.png" width="90%" style="border-radius: 50%" alt="Hero" />
    </div>
  </div>

</Container>
