---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row">
    <Topic
      title="Customers"
      description="Our satisfied customers, past and present"
    />
  </div>

  <!-- TODO Add href="" to the images -->
  <div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4">
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0 cursor-pointer">
        <img
            src="./clients/turnitin.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer">
        <img
            src="./clients/technews.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer">
        <img
            src="./clients/lincare.png"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer">
        <img
            src="./clients/stleo.png"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer">
        <img
            src="./clients/cap.png"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
        />
      </div>
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0 cursor-pointer">
        <img
            src="./clients/allegis.png"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer">
        <img
            src="./clients/vodafone.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0 cursor-pointer">
        <img
            src="./clients/cision.png"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
        />
      </div>
    </div>
  </div>

  <div
      class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]"
  >
    <div
        class="justify-items-center relative w-full border border-lime rounded-3xl"
    >
      <div class="p-4 md:p-10">
        <p
            class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4"
        >
          "We have been working with Fathomage Software for the past year and
          have seen a significant increase in website traffic and leads as a
          result of their efforts. The team is professional, responsive, and
          truly cares about the success of our business. We highly recommend
          Fathomage to any company looking to grow their online presence."
        </p>
        <span class="text-lime text-base md:text-xl font-medium"
        >Travis Van<br /></span
        ><span class="text-white text-lg font-normal"
      >CTO Director at ITDatabase</span
      >
      </div>
    </div>
  </div>

</Container>
