---
const { title, description} = Astro.props;
---

<div class="grid place-items-center gap-5 mb-10 md:flex">
    <span class="text-3xl md:text-4xl lg:text-6xl px-1.5 font-medium bg-lime rounded-md">
        {title}
    </span>

    <p class="text-xl md:text-2xl lg:text-4xl font-normal text-center md:text-start"> <!-- lg:w-2/3 -->
        {description}
    </p>
</div>
