---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Enterprise Software Development" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Fathomage Software</title>
    <meta
      name="description"
      content="Fathomage Software - Nearshore software pros to efficiently scale your development team at low cost We are a close-knit team of senior software professionals ready to give you extra capacity for your enterprise software development project."
    />
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  <ViewTransitions />
  </head>
  <body class="bg-white font-SpaceGrotesk">
    <Navbar />
    <slot />
    <Footer/>
  </body>
</html>
